/*Agregar una font dentro de la carpeta "fonts"*/
@font-face {
    font-family: 'IntegralCF-BoldOblique';
    src: url(fonts/IntegralCF-BoldOblique.woff);
}

@font-face {
    font-family: 'IntegralCF-Oblique';
    src: url(fonts/IntegralCF-RegularOblique.woff);
}


/*Generales del HTML*/
/*Body, mas que nada el cambio de font*/
body {
    font-family: 'Roboto', sans-serif;
    background-image: rgb(238, 228, 244);
    background-image: linear-gradient(180deg, rgba(238, 228, 244, 1) 61%, rgba(114, 81, 181, 1) 100%, rgba(114, 81, 181, 1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 70px;
}

/*Color de los links*/
a {
    color: #240046;
    text-decoration: #240046;
}


/* Class */
/*Estilización de footer*/
.footer {
    font-family: 'IntegralCF-Oblique', 'Roboto', sans-serif;
    font-size: 15px;
    display: flex;
    text-align: left;
    justify-content: space-between;
    background-color: #7251B5;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.logoFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.logoFooter p {
    margin: 0px;
}

.logoFooter img {
    float: left;
    width: 60px;
    height: 60px;
    filter: invert(100%);
}

.contactoFooter {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contactoFooter img {
    width: 35px;
    height: 35px;
}

.contactoFooter p {
    margin: 0px;
    width: 45%;
}

/* Query del footer para celular */
@media (max-width: 480px) {
    .footer {
        font-size: 7px;
    }

    .logoFooter img {
        width: 40px;
        height: 40px;
    }

    .contactoFooter img {
        width: 25px;
        height: 25px;
    }
}



/*El header de todas las paginas*/
.header {
    background-color: #7251B5;
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
}

.header nav #textoHeader {
    font-family: 'IntegralCF-BoldOblique', 'Roboto', sans-serif;
    color: #240046;
    /* margin: 10px 0px; */
    font-size: 30px;
    text-shadow: 3px 3px 3px #d58dff;
}

.header nav {
    background-color: #7251B5 !important;
}

.header img {
    width: 100px;
    height: 100px;
    filter: invert(100%);
}

.header a {
    font-family: 'IntegralCF-Oblique', 'Roboto', sans-serif;
    color: #240046 !important;
    width: auto;
    padding-right: 5px;
    font-size: 15px;
}

/* Query del header */
@media (max-width: 992px) {
    .header img {
        width: 75px;
        height: 75px;
    }

    .header {
        justify-content: left;
    }
}

@media (max-width: 480px) {

    .header a {
        font-size: 10px;
    }
}



/* PAGINA 'NOSOTOS.HTML' */
/*Div class de los retratos en "nosotros.html"*/
.retrato {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}

.retrato img {
    width: 150px;
    height: 150px;
    margin-left: 50px;
}

/*Div class de la información en "nosotros.html"*/
.nuestraInfo {
    display: flex;
    justify-content: center;
}

/*Div de "sobre nosotros" en pag "nosotros.html"*/
.sobreNosotros {
    text-align: center;
    padding-bottom: 6rem;
    display: flex;
    padding: 2rem 4rem 2rem 4rem;
}

.sobreNosotros h2 {
    font-family: 'IntegralCF-BoldOblique', 'Roboto', sans-serif;
    color: #240046;
    text-shadow: 2px 2px 2px #d58dff;
}

#impres3D {
    display: flex;
    flex-direction: column;
    width: 25%;
}
#impres3D:hover{
    width: 35%;
}

#disUnic {
    display: flex;
    flex-direction: column;
    width: 25%;
}
#disUnic:hover{
    width: 35%;
}

#alcanceCualquiera {
    display: flex;
    flex-direction: column;
    width: 25%;
}
#alcanceCualquiera:hover {
    width: 35%;
}

.nuestraInfo article {
    border: solid #7251B5 2px;
    margin-right: 22px;
    margin-left: 22px;
    text-align: center;
}

.nuestraInfo article h3 {
    font-family: 'IntegralCF-BoldOblique', 'Roboto', sans-serif;
    color: #240046;
    font-size: 20px;
    text-shadow: 2px 2px 2px #d58dff;
    border: solid #7251B5 10px;
    background-color: #7251B5;
    margin: 0px;
}

.nuestraInfo article p {
    padding: 10px;
}

/* Query de la pagina'NOSOTROS.HTML' */
@media (max-width: 800px) {

    .nuestraInfo {
        margin-bottom: 6rem;
        font-size: 12px;
    }

    .sobreNosotros {
        padding-left: 2rem;
        font-size: 12px;
    }

    .nuestraInfo article h3 {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .sobreNosotros {
        padding-left: 0.1rem;
        padding-right: 0.1rem;
    }

    .sobreNosotros article h2 {
        font-size: 25px;
    }

    .retrato {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .retrato img {
        margin: 0px;
        height: 120px;
        width: 120px;
    }

    .nuestraInfo article {
        margin: 0px 5px 0px 5px;
    }

    .nuestraInfo article h3 {
        font-size: 10px;
    }

    #impres3D {
        width: 30%
    }
    #impres3D:hover {
        width: 45%
    }

    #disUnic {
        width: 30%;
    }
    #disUnic:hover {
        width: 40%;
    }

    #alcanceCualquiera {
        width: 30%;
    }
    #alcanceCualquiera:hover {
        width: 40%;
    }
}





/* PAGINA 'PERSONAJE.HTML */
/*Div class del creador de personaje en "personaje.html*/
.creadorPersonaje {

    text-align: center;
    padding-top: 3rem;
}

.creadorPersonaje h2 {
    font-family: 'IntegralCF-BoldOblique', 'Roboto', sans-serif;
    color: #240046;
    text-shadow: 3px 3px 3px #d58dff;
    font-size: 50px;
}
@media (max-width: 480px) {
    .creadorPersonaje h2 {
        font-size: 25px;
    }
}




/* PAGINA 'PRODUCTO.HTML' */
/*Div class del formulario de pedido en "producto.html"*/
.formulario {
    font-family: 'IntegralCF-Oblique', 'Roboto', sans-serif;
    font-size: 1rem;
    margin: auto;
    padding-top: 50px;
    text-align: left;
    justify-content: center;
    width: 50%;
}

.formulario input {
    font-size: 0.7rem;
    
}

.formulario textarea {
    font-size: 0.7rem;
}

.formulario button {
    background-color: #7251B5;
    box-shadow: 0 0 8px 3px #d58dff;
}





/* PAGINA 'INDEX.HTML' */
/*Titulo de la pagina*/
.algunosTrabajos h2 {
    font-family: 'IntegralCF-BoldOblique', 'Roboto', sans-serif;
    color: #240046;
    text-align: center;
    text-shadow: 3px 3px 1px #d0b7dd;
    margin-top: 10px;
}

/*Div class de las imagenes en "index.html"*/
.imagenesDeTrabajos {
    margin: 30px 70px 0 70px;
    margin-bottom: 6rem;
    display: grid;
    grid-gap: 7px;
    justify-items: stretch;
    grid-template-areas:
        'A  B  C'
        'D  E  F'
        'G  H  I';
}

.imagenesDeTrabajos img:nth-child(1) {
    grid-area: A;
}

.imagenesDeTrabajos img:nth-child(2) {
    grid-area: B;
}

.imagenesDeTrabajos img:nth-child(3) {
    grid-area: C;
}

.imagenesDeTrabajos img:nth-child(4) {
    grid-area: D;
}

.imagenesDeTrabajos img:nth-child(5) {
    grid-area: E;
}

.imagenesDeTrabajos img:nth-child(6) {
    grid-area: F;
}

.imagenesDeTrabajos img:nth-child(7) {
    grid-area: G;
}

.imagenesDeTrabajos img:nth-child(8) {
    grid-area: H;
}

.imagenesDeTrabajos img:nth-child(9) {
    grid-area: I;
}

.imagenesDeTrabajos img {
    width: 100%;
    height: auto;
}

/* Query para la pagina 'INDEX.HTML' */
@media (max-width: 480px) {

    .imagenesDeTrabajos {
        margin: 30px 20px 0 20px;
        grid-template-areas:
            "A  B"
            "C  D"
            "E  F"
            "G  H"
            "I  I";
    }

    .algunosTrabajos h2 {
        font-size: 25px;
    }
}