/* header */

.header {
    background-color: map-get($estilo, color);
    display: map-get($estilo, display);
    justify-content: map-get($estilo, contenido);
    height: auto;
    width: 100%;

    nav {
        background-color: #7251B5 !important;
    }

    img {
        @include size(100px, 100px);
        filter: invert(100%);
    }

    a {
        font-family: 'IntegralCF-Oblique', 'Roboto', sans-serif;
        color: $colorPrimarioTexto !important;
        width: auto;
        padding-right: 5px;
        font-size: 17px;
        text-shadow: 2px 2px 2px $colorSombraTexto;
    }
}