/* mediaquerys */

/* @media (max-width: 1500px) {
    .imagenesDeTrabajos {
        margin: 30px 200px 0px 200px;
    }
}

@media (max-width: 1500px) {
    .imagenesDeTrabajos {
        margin: 30px 200px 0px 200px;
    }
} */


@media (min-width: 992px) {
    
}


@media (max-width: 992px) {
    /* header */
    .header img {
        @include size(75px, 75px);
    }

    .header {
        justify-content: left;
    }

    /* index */
    .imagenesDeTrabajos {
        margin: 30px 20px 0 20px;
        grid-template-areas:
            "A  B"
            "C  D"
            "E  F"
            "G  H"
            "I  I";
    }

    /* nosotros */
    .nuestraInfo {
        margin-bottom: 6rem;
        font-size: 12px;

        article h3 {
            font-size: 16px;
        }
    }

    .sobreNosotros {
        padding-left: 2rem;
        font-size: 12px;
    }

    //producto
    .formulario {
        width: 75%;
    }
}

@media (max-width: 576px) {
    
    /* header */
    .header a {
        font-size: 10px;
    }

    /* index */
    .imagenesDeTrabajos {
        margin: 30px 20px 0 20px;
        grid-template-areas:
            "A  B"
            "C  D"
            "E  F"
            "G  H"
            "I  I";
    }

    .algunosTrabajos h2 {
        font-size: 25px;
    }
    
    /* nosotros */
    .sobreNosotros {
        padding-left: 0.1rem;
        padding-right: 0.1rem;

        article {
            h2 {
                font-size: 25px;
            }
        }
    }

    .retrato {
        display: flex;
        align-items: center;
        justify-content: space-around;
        
        img {
            margin: 0px;
            @include size(120px, 120px);
        }
    }

    .nuestraInfo {
        article {
            margin: 0px 5px 0px 5px;

            h3 {
                font-size: 10px;
            }
        }
    }

    #impres3D {
        width: 30%;

        &:hover {
            width: 45%
        }
    }

    #disUnic {
        width: 30%;

        &:hover {
            width: 45%
        }
    }

    #alcanceCualquiera {
        width: 30%;

        &:hover {
            width: 45%
        }
    }

    /* personaje */
    .creadorPersonaje h2 {
        font-size: 25px;
    }

    /* footer */
    .footer {
        font-size: 10px;
    }

    .logoFooter img {
        @include size(40px, 40px);
    }

    .contactoFooter img {
        @include size(25px, 25px);
    }
}