.creadorPersonaje {
    text-align: center;
    padding-top: 3rem;

    h2 {
        font-family: 'IntegralCF-BoldOblique', 'Roboto', sans-serif;
        color: #240046;
        text-shadow: 3px 3px 3px #d58dff;
        font-size: 50px;
    }
}