.producto {
    margin: 2em 30em 0em 20em;
    justify-content: center;
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
        'A  A  B'
        'A  A  B'
        'A  A  B';

    img {
        @include size(100%, auto);
        transition: transform 250ms;
        grid-area: A;

        &:hover {
            -ms-transform: scale(1.05, 1.05);
            -webkit-transform: scale(1.05, 1.05);
            transform: scale(1.05, 1.05);
        }
    }

    .nombredado {
        grid-area: B;
        padding-left: 1em;

        h2, h4 {
            color: black;
            text-shadow: 3px 3px 1px $colorSombraTexto;

            &:nth-child(2) {
                padding-bottom: 1.5em;
            }
        }

        button {
            color: rgb(237, 193, 255);
            text-shadow: 1px 1px 1px $colorSombraTexto;
            font-weight: bold;
            background-color: #7251B5;
            box-shadow: 0 0 8px 3px #d58dff;
            padding: 5px 70px;
        }
        
        p {
            font-weight: lighter;
            text-shadow: 1px 1px 1px #e5b7ff;
            font-size: 15px;
            padding-top: 5em;
            margin-right: 3.5em;
        }
    }


}