/* producto */

.formulario {
    font-family: 'IntegralCF-Oblique', 'Roboto', sans-serif;
    font-size: 1rem;
    margin: auto;
    padding-top: 50px;
    text-align: left;
    justify-content: center;
    width: 50%;

    input {
        font-size: 0.7rem;
    }

    textarea {
        font-size: 0.7rem;
    }

    button {
        background-color: #7251B5;
        box-shadow: 0 0 8px 3px #d58dff;
    }
}